

body{
    background-color: #000000;
    
    color: #4dc5ff !important;
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6{
    font-family: Hack;
}

a{
    color:  #4dc5ff !important;
}

.navbar{
    font-family: Hack;
    background-color: rgba(255,255,255,0.05);
    min-height: 100px;
    box-shadow: 0px -1px 14px 2px #4d4dff47;
}

.slide{
    opacity: 0.6;
}


.footer{

    display: block;
    bottom:0;
    left: 0;
    
   
    width:100%;
    background-color: rgba(255,255,255,0.05);
    height: 100px;
    box-shadow: 0px -1px 14px 2px #4d4dff47;
}

.design{

    margin:0px;
    font-size: 18px;
}
.copy{
    
    font-size: 15px;
}

.container{
    width: 100%;
    height:auto;
    padding: 10px;
}

.banner{
    
    width: 100%;
    height: 250px;
    
}



.register-content{
    padding: 8px 100px 8px 100px;
    margin: 10px 100px 10px 100px;
   
    
}

.register-content h3{
    margin: 10px;
}

.register-content form{
    padding:20px;
}

.register-content .form-group {
    text-align: left !important;
    
}

label{
    font-size: px;
}

.register-content .form-group input{
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid  #4dc5ff;
    color: #4dc5ff;
    font-size: 20px;
    
}

.let-content{
    padding:80px;
}

.let-content .form-group input{
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid  #4dc5ff;
    color: #4dc5ff;
    font-size: 20px;

}

button{
    border-radius: 5px !important;
    width: 200px;
    font-size: 18px !important;

}
.ch{
    width: 300px;
}
.reg-footer{
    border-top: 1px solid #4d4dff47;
}

.dropdown-menu{
    background-color: rgba(0,0,0,0.8);
    border:1px solid #4d4dff47;
    color: white;
}
.dropdown-item span{
    float: right;
}
.dropdown-item:hover,
.dropdown-item:focus{
    background-color: rgba(0,0,0,0.6) !important;
}

.dash-btn{
    border-radius: 5px !important;
   
    font-size: 18px !important;
}

.dash-btn:hover{
    color: #ffffff !important;

}

button.close{
    width: 2px;
    padding: 4px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */ /* Add a pointer on hover */
  }

  .fill{
      border-top:0 !important;
      border-left:0 !important;
      border-right: 0 !important;
      height: 32px !important;
      width: 200px !important;
      border-bottom: 1px dashed !important;
      border-radius: 0px !important;
  }